In [ ]:
Ques1:   1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8 
-
/
+
6


Answer1- 

values = 'hello' , -87.8 , 6 
expression = * , - , / , +

In [ ]:
Ques2: 2. What is the difference between string and variable?
Ans- String: it is a data type that represents a sequence of characters.  E.g. "digvijay"  , '3'
     Variable: variable is named storage location that holds some type of data  E.g. a=2

In [ ]:
Ques3:Describe three different data types.
Ans: - Integer  e.g. 2 , 3 , -4
     - Float    e.g. 2.4 
     - String    e.g. " chirag"
     - boolean    e.g. True/False

In [ ]:
Ques4:  What is an expression made up of? What do all expressions do?
Ans:    An expression is a combination of constants, variables, and operators that evaluates to a single value

In [ ]:
Ques5: This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans: A statement is a line of code that performs an action.
   : Expression are the operators

In [ ]:
Ques6: After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans: 22

In [ ]:
Ques7: What should the values of the following two terms be?
                   'spam'+'spamspam'
                  'spam' * 3

Ans: 'spam'+'spamspam'  gives 'spamspamspam'
     'spam'*3 =  'spamspamspam'

In [ ]:
Ques8: Why is eggs a valid variable name while 100 is invalid?
Ans: Eggs is a valid variable name because it starts with a string or character while 100 is not a valid variable name beacause variable name can't start with number

In [ ]:
Ques9: 9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans: int()
    float()
    str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos'

Ans- this errors happens because string and integer can't be add and if we convert 99 into string after that can add  i will show you practically

In [11]:
'I have eaten ' + '99' + 'burritos'

'I have eaten 99burritos'